<?page title="Quản trị - Thành phố" contentType="text/html;charset=UTF-8"?>
<zk>
	<borderlayout vflex="min" viewModel="@id('vm') @init('com.hkl.vm.VMListCity')">
        <west title="Quản lý" collapsible="true" width="15%" splittable="true">
        	<menubar id="menubar" orient="vertical" height="100%">
				<menuitem label="---------- LOẠI HÀNG -----------" image="/img/category.jpg" href="/zul/category/list.zul"></menuitem>
				<menuitem label="---------- THÀNH PHỐ -----------" image="/img/CITY.png" href="/zul/city/list.zul"></menuitem>
				
				<menuitem label="---------- NGƯỜI DÙNG ---------" image="/img/user.png" href="/zul/user/list.zul"></menuitem>
				<menuitem label="---------- BÀI ĐĂNG -------------" image="/img/post.png" href="/zul/post/list.zul"></menuitem>
        	</menubar>
        </west>
        
        <center title="---------- THÀNH PHỐ -----------">
	      <div>
				<separator></separator>
				<separator></separator>
				<separator></separator>
	        	<grid>
	        		<rows>
	        			<row width="100%">
				      		<hlayout>
								<label value="Tìm kiếm:"></label>
								<textbox value="@save(vm.searchText)" width="300px" placeholder="Nhập tên thành phố..."/>
								<button label="Tìm kiếm" image="/img/search.png" onClick="@command('search')" ></button>
								<button label="Thêm mới thành phố" image="/img/add.png" 
									onClick="@command('onAddNew' , vmList = vm)"></button>
							</hlayout>
	        			</row>
	        		</rows>
	        	</grid>
	        	<separator></separator>
	        	<separator></separator>
	        	<separator></separator>
				<listbox id="a" selectedItem="@bind(vm.selectedCity)" model="@load(vm.allCity)"
					emptyMessage="Danh sách không có thành phố nào" mold="paging" pageSize="10">
					<listhead sizable="true">
						<listheader label="ID"></listheader>
						<listheader label="Tên thành phố" sort="auto(cityname)"></listheader>
						<listheader label="Thao tác"></listheader>
					</listhead>
					
				<template name="model" var="city">
					<listitem>
							<listcell label="@load(city.id)"></listcell>
							<listcell label="@load(city.cityName)"></listcell>
							<listcell>
								<button label="XEM"
								onClick="@command('openAsRead', cityRecord=city)"></button>
								
								<button label="SỬA"
								onClick="@command('onEdit', cityRecord=city)"></button>
								<button label="XÓA"
								onClick="@command('onDelete', cityRecord=city)"></button>
							</listcell>
						</listitem>
					</template>
				</listbox>
			</div> 
        </center>
    </borderlayout>

</zk>