@media (min-width: 1200px) and (max-width: 1499px) {
    
    .login-form-container {
        padding: 37px 20px;
    }
    .blog-details-text {
  padding: 85px 0px 0;
}
.subscribe-form form input {
  padding-right: 112px;
}    
.subscribe-form form .mc-form .clear input {
  padding: 0 16px;
}    
.product-details {
  padding-top: 0;
}
 .main-menu ul li {
  margin-left: 20px;
}   
.language-menu ul li {
  margin-left: 20px;
}    
.ptb-250 {
  padding: 160px 0;
}  
.waraper {
  padding: 0 50px;
}    
.style-res .ptb-250 {
  padding: 148px 0;
}    
    
    
    
    
    
    
    
    
    
    
    
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    
    .main-menu ul li {
  margin-left: 15px;
}
    
.language-menu ul li {
  margin-left: 10px;
}    
.user > a {
  padding-left: 20px;
}    
.slider-text h2 {
  font-size: 65px;
}    
.ptb-200 {
  padding: 140px 0;
}    
 .waraper {
  padding: 0;
}   
 .subscribe-form form .mc-form .clear input {
  padding: 0 10px;
}   
 .subscribe-form form input {
  padding-left: 7px;
  padding-right: 100px;
}   
.footer-logo li {
  padding-right: 10px;
}    

.section-title.text-center {
  width: 65%;
}   
.blog-page-title {
  padding: 20px 32px 0;
}    
.blog-details-text {
  padding: 85px 120px 0;
}    
.contact-from {
  padding: 25px;
}
.login-form-container {
  margin: 0 100px;
}    
.shop-title-text {
  width: 65%;
}    
.about-text-title > p {
  padding: 0 137px;
}    
.single-testimonial > p {
  padding: 0 137px;
}    
.footer-logo.footer-style-2 > p {
  width: 50%;
}    
.newsletter-title > h3 {
  font-size: 23px;
  margin-top: 8px;
}    
.newsletter-title {
  margin-right: 0;
}      
.header-area.style-6 {
  padding: 30px 0;
}    
.header-area.style-6.stick {
  padding: 15px 0px;
}    
    
.ml-30 {
  margin-left: 19px;
}    
.product-details {
  padding-left: 0;
  padding-top: 0;
}    
.shop-title > h3 {
  margin-bottom: 5px;
}    
.shop-title {
  padding: 15px;
}    
.contact-from textarea {
  height: 136px;
}     
    
    

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

.waraper {
  padding: 0;
}
.logo > a {
  padding: 31px 0 0;
}    
    
.text-right.text-res {
  text-align: inherit;
}
  .text-right.text-sm.text-res {
  text-align: center!important;
     
} 
 .slider-text h2 {
  font-size: 50px;
}   
    
 .slider-text > h3 {
  font-size: 20px;
}   
 .ptb-200 {
  padding: 100px 0;
}   
.section-title.text-center {
  width: 85%;
}    
    .res-mrg-2{
        margin-top: 50px;
    }    
    .ptb-250 {
  padding: 150px 0;
}
 .slider-style-5 .slider-text.style-2 h2 {
  font-size: 43px;
}   
 .slider-style-5 .slider-text.style-2 > h3 {
  font-size: 20px;
}   
.blog-page-title {
  padding: 20px 15px 0;
}    
.blog-page-title > h3 {
  font-size: 20px;
}    
.your-order {
  margin-top: 50px;
}    
.communication.contact-from {
  margin-top: 50px;
}    
.shop-title-text {
  width: 75%;
}
.about-text-title > p,.single-testimonial > p {
  padding: 0 40px;
}    
.cart-user-language {
  display: inline-block;
}    
.shop-title {
  bottom: 15px;
}    
 .shop-title > h3 {
  margin-bottom: 5px;
}   
.newsletter-style-2 .newsletter-title {
  margin-right: 0;
  text-align: center;
  margin-bottom: 30px;
}  
 .newsletter-style-2 .mc-form .clear {
  right: 36px;
}   
.newsletter-style-2 .mc-form {
  margin: 0 30px;
}    
.newsletter-style-2 .newsletter-title > h3 {
  text-align: inherit;
}    
 .footer-logo.footer-style-2 > p {
  width: 66%;
}   
.header-area.style-6 {
  padding: 20px 0;
}  
.header-area.style-6.stick {
  padding: 8px 0px;
}
    
     
    .slider-area.slider-style-6 {
  padding-top: 110px;
}
 .header-area .header-sticky .icon-search > a {
  padding: 22px 0 10px;
}
 .header-area .header-sticky .user > a {
  padding: 19px 0 15px 30px;
}   
.header-area .header-sticky a.top-cart {
  padding: 22px 0 15px;
}    
.style-6 .mean-container a.meanmenu-reveal {
  margin-top: -57px;
}    
.header-area .header-sticky .logo > a {
  padding: 19px 0 0;
}   
.header-area.stick .header-sticky .icon-search > a {
  padding: 21px 0 6px;
}    
.header-area.stick .header-sticky .user > a {
  padding: 17px 0 5px 30px;
}    
.header-area.stick .header-sticky a.top-cart {
  padding: 19px 0 13px;
}    
.style-6.stick .mean-container a.meanmenu-reveal {
  margin-top: -49px;
}    
.header-area.stick .header-sticky .logo > a {
  padding: 18px 0 0;
}
    
.shopping-cart {
  padding-right: 25px;
}    
.product-details {
  padding-left: 0;
  padding-top: 0;
}    
 .product-details .usefull-link li {
  margin-right: 15px;
}   
.blog-details-text {
  padding: 85px 0 0;
}
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
 
    
    .waraper {
      padding: 0;
    }
    
    .text-right.text-res {
        text-align: inherit;
    }
    .text-right.text-sm.text-res {
        text-align: center!important;
    } 

    
.slider-text h2 {
  font-size: 22px;
} 
.slider-text > h3 {
  font-size: 20px;
  line-height: 30px;
    margin: 20px 0 30px;
}    
  .ptb-200 {
  padding: 50px 0;
}  
.section-title.text-center {
  width: 100%;
}    
 .res-mrg{
    margin-top: 50px;
}   
    
.ptb-90 {
  padding: 50px 0;
}    
 .pb-100 {
  padding-bottom: 50px;
}   
 .footer-bottom {
  margin-top: 50px;
}   
 .pb-70 {
  padding-bottom: 30px;
}
 .language-menu ul li {
  margin-left: 10px;
}   
   
 .slider-text.style-2 {
  padding: 30px 10px 40px;
}   
.ptb-250 {
  padding: 100px 0;
}    
.slider-text.style-2 h2 {
  font-size: 22px;
}    
.blog-title > h3 {
  font-size: 18px;
}
    
 form#searchbox input {
  width: 230px;
}   
    
.toogle-content {
  right: 40px;
}  
  .slider-style-5 .slider-text.style-2 h2 {
  font-size: 24px;
}   
 .slider-style-5 .slider-text.style-2 > h3 {
  font-size: 20px;
     line-height: 30px;
}    
.blog-page-title {
  padding: 20px 0 0;
}    
.blog-page-title > h3 {
  font-size: 18px;
}    
.mb-40 {
  margin-bottom: 30px;
}    
.pt-100 {
  padding-top: 50px;
}
.pb-60 {
  padding-bottom: 50px;
}    
.res-mrg-2 {
  margin-top: 50px;
}    
.blog-details-text {
  padding: 30px 0 0;
}    
blockquote {
  font-size: 25px;
}    
.ptb-100 {
  padding: 50px 0;
}    
.blog-details-text > h3 {
  font-size: 25px;
  line-height: 40px;
}    
.blog-details-text {
  padding: 85px 0px 0;
}   
.coupon2 {
  float: left;
  margin-top: 30px;
}    
.your-order {
  margin-top: 50px;
}    
.your-order {
  padding: 30px 12px 45px;
}    
.contact-from {
  padding: 20px;
}    
.communication.contact-from {
  margin-top: 50px;
}    
.login-form-container {
  padding: 37px 15px;
}    
.shop-title-text {
  width: 100%;
}    
.shop-title-text > h2 {
  font-size: 22px;
}    
.about-text-title > p,.single-testimonial > p {
  padding: 0 0px;
}    
.about-text-title > h2 {
  font-size: 25px;
}    
.main-title {
  font-size: 25px;
}    
.single-team.team-mrg {
  margin-top: 40px;
}    
.testimonial-area {
  margin-bottom: 40px;
}
.about-counter {
  margin: 40px 0 15px;
}    
.about-text-title {
  margin-top: 35px;
}    
.cart-user-language {
  display: inline-block;
}    
    
.shopping-cart > ul {
  right: -43px;
}    
.newsletter-style-2 .newsletter-title {
  margin-right: 0;
  text-align: center;
  margin-bottom: 30px;
}  
 .newsletter-style-2 .mc-form .clear {
  right: 20px;
}   
.newsletter-style-2 .mc-form {
  margin: 0 15px;
}    
.newsletter-style-2 .newsletter-title > h3 {
  text-align: inherit;
}    
 .footer-logo.footer-style-2 > p {
  width: 100%;
}      
.newsletter-style-2 .newsletter-title > h3 {
  font-size: 23px;
}    
    .mrg-btm{
        margin-bottom: 30px;
    }    
.footer-logo.footer-style-2 {
    padding-top: 50px;
}
.shopping-cart.ml-30 {
  margin-left: 10px;
  margin-right: 37px;
}
.user > a {
  padding: 30px 0 10px 10px;
}    
.logo > a {
  padding: 31px 0 0;
}  
.language-menu.none {
  display: none;
}    
.header-area.style-6 {
  padding: 20px 0;
}   
.header-area.style-6.stick {
  background-color: #fff;
  padding: 8px 0;
}   
    
.style-6.stick .mean-container a.meanmenu-reveal {
  margin-top: -52px;
}    
.style-6 .mean-container a.meanmenu-reveal {
  margin-top: -54px;
}   
.header-area .header-sticky .user > a {
  padding: 14px 0 10px 10px;
}   
.header-area.stick .header-sticky .user > a {
  padding: 14px 0 10px 10px;
}    
.slider-area.slider-style-6 {
  padding-top: 106px;
}    
.header-area .header-sticky .logo > a {
  padding: 12px 0 0;
}    
.product-details {
  padding-left: 0;
  padding-top: 0;
}    
.product-details .ratting {
  float: left;
  margin-top: 10px;
} 
 .pro-info-tab-list li {
  margin-bottom: 25px;
}   
.slider-area.style-1 {
  padding: 69px 0 50px;
}
 .shop-title > h3 {
  margin-bottom: 5px;
}   
.shop-title {
  padding: 20px;
}    
.view-more.mt-30 {
  margin-top: 0;
}    
.section-title > h3 {
  font-size: 25px;
}    
.logo > a {
  padding: 32px 0 0;
}    
p.checkout-coupon input[type="text"] {
  width: 145px;
}    
 .ship-different-title h3 label {
  font-size: 22px;
}   
 .communication-icon i {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  width: 40px;
}   
.communication-text {
  padding-left: 60px;
  padding-top: 0px;
}    
    
    
    
    
    
    
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
    .user > a {
  padding: 30px 0 10px 12px;
}
    
    
    
    
    
    
    
    
    
    
    
}

