<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk>
<borderlayout vflex="min" viewModel="@id('vm') @init('com.hkl.vm.VMListPost')">
        <west title="Quản lý" collapsible="true" width="15%" splittable="true">
        	<menubar id="menubar" orient="vertical" height="100%">
				<menuitem label="---------- LOẠI HÀNG -----------" image="/img/category.jpg" href="/zul/category/list.zul"></menuitem>
				<menuitem label="---------- THÀNH PHỐ -----------" image="/img/CITY.png" href="/zul/city/list.zul"></menuitem>
				
				<menuitem label="---------- NGƯỜI DÙNG ---------" image="/img/user.png" href="/zul/user/list.zul"></menuitem>
				<menuitem label="---------- BÀI ĐĂNG -------------" image="/img/post.png" href="/zul/post/list.zul"></menuitem>
        	</menubar>
        </west>
        
        <center title="---------- BÀI ĐĂNG -----------">
	      <div>
				<separator></separator>
				<separator></separator>
				<separator></separator>
	        	<grid>
	        		<rows>
	        			<row width="100%">
				      		<hlayout>
								<label value="Tìm kiếm:"></label>
								<textbox value="@save(vm.searchText)" width="300px" placeholder="Nhập tên user..."/>
								<button label="Tìm kiếm" image="/img/search.png" onClick="@command('search')" ></button>
<!-- 								<button label="Thêm mới user" image="/img/add.png" 
									onClick="@command('onAddNew' , vmList = vm)"></button> -->
							</hlayout>
	        			</row>
	        		</rows>
	        	</grid>
	        	<separator></separator>
	        	<separator></separator>
	        	<separator></separator>
				<listbox id="" selectedItem="@bind(vm.selectedPost)" model="@load(vm.allPost)"
					emptyMessage="Danh sách không có bài đăng nào" mold="paging" pageSize="10">
					<listhead sizable="true">
						<listheader label="Loại" ></listheader>
						<listheader label="Ngày tạo"></listheader>
						<listheader label="Trạng thái"></listheader>
						<listheader label="Thành Phố" sort="auto(city)"></listheader>
						<listheader label="User" sort="auto(user)"></listheader>
						<listheader label="Thao tác"></listheader>
					</listhead>
					
				<template name="model" var="post">
					<listitem>
							<listcell label="@load(post.postType)"></listcell>
							<listcell label="@load(post.dateCreate)"></listcell>
							<listcell label="@load(post.postStatus)"></listcell>
							<listcell label="@load(post.city.cityName)"></listcell>
							<listcell label="@load(post.user.fullName)"></listcell>

							<listcell>
								<button label="XEM SẢN PHẨM"
								onClick="@command('openAsRead', postRecord=post, postId=post.id)"></button>
								
								<!-- <button label="SỬA"
								onClick="@command('onEdit', postRecord=post)"></button> -->
								<button label="XÓA"
								onClick="@command('onDelete', postRecord=post)"></button>
							</listcell>
						</listitem>
					</template>
				</listbox>
			</div> 
        </center>
    </borderlayout>
</zk>